*, *::before, *::after {
    box-sizing: border-box;
    
}
body{
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 2.5rem;
}
*{
    margin:0;
}
.title{
    font-size:5rem;
    color:white;
    font-weight: bold;
    text-align: center;
    padding:1rem;
}
.container {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.slide {
    scroll-snap-align: start;
    min-width:100vw;
    height: calc(100vh - 1rem );
    color: white;
    background-color: #3182ce;
    padding:2rem;
    text-align: center;
    
}
.slide.title-slide {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1{
    width:100%;
    text-align: center;
    padding:2rem;
}
.left-arrow,.right-arrow,.full-screen{
    position:fixed;
    top:0vh;
    height:100vh;
    width:min(10vh,10vw);
    opacity:0.1;
    display:flex;
    align-items:center;
    justify-content:center; 
    z-index:10;

}
.left-arrow:hover, .right-arrow:hover, .full-screen:hover{
    background-color: rgba(0,0,0,0.6);
    color:white;
    transition: background-color 400ms, color 1000ms;
}
.left-arrow{
    left:0;
}
.right-arrow{
    right:0;
}
.full-screen{
    height: min(10vh,10vw);
    width: min(10vh,10vw);
    z-index: 20;
    right:0;
}
.flex{
    display:flex
}
.gap{
    gap: 2rem;
}

.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.center{
    align-items: center;
    justify-content: center;
}
.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
}
button{
    font-family: inherit;
    box-shadow: none;
    border-radius: 4px;
    color: white;
    font-size: 1.5rem;
    border:none;
    padding: .5rem;
    background-color: #222;
}

@media screen and (max-width:600px) {
    .slide{
        height:100vh;
    }
    .left-arrow,.right-arrow{
        top:calc(50% - 10vh);
        height:20vh;
    }
    
}
