#slope-tracer-function-canvas{
    width: 50vh;
    height:35vh;
    background-color: white;
}
#slope-tracer-derivative-canvas{
    width: 50vh;
    height:35vh;
    background-color: white;
}
#graphs{
    margin:2rem;
    width: 50vh;
    height:50vh;
    background-color: white;
}
